@tailwind base;
@tailwind components;
@tailwind utilities;

.costum {
    height: 3600px;
    background-color: #24232b;
}

.feature {
    &::after {
        content: '';
        height: 100px;
        width: 160px;
        border-bottom: 2px solid rgba(139, 92, 246, 1);
        position: absolute;
    }
}

.video {
    border-radius: 50px;
    border: 2px solid black;
}

.costum-marker {
list-style: inside;
}

li::marker {
    color: rgba(139, 92, 246, 1);
}

.col {
    color: rgb(190, 190, 190);
}