@tailwind base;
@tailwind components;
@tailwind utilities;

.feature {
    &::after {
        content: '';
        height: 100px;
        width: 160px;
        border-bottom: 2px solid rgba(139, 92, 246, 1);
        position: absolute;
    }
}

li::marker {
    color: rgba(139, 92, 246, 1);
}

.col {
    color: rgb(190, 190, 190);
}