@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
    background-color: #1f1f25;
    transition: background-color 250ms ease-in;
}

.nav {
    background-color: transparent;
    transition: background-color 250ms ease-in;
}